<!DOCTYPE html>
<html lang="en">
@RenderSection("scripts", required: false)
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>

</head>

<body>

    <header>
        <nav class="navbar">

            <ul class="navbarContainer">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" &&   ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "navbarItem active" : "navbarItem")">
                    <a class="navbarLink" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
               
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" &&  ViewContext.RouteData.Values["Controller"].ToString() == "Blogs" ? "navbarItem active" : "navbarItem")">
                    <a class="navbarLink" asp-area="" asp-controller="Blogs" asp-action="Index">Blogs</a>
                </li>
                <li class="navbarItem">
                    <a  class="@(ViewContext.RouteData.Values["Action"].ToString() == "ShowSearchForm" &&  ViewContext.RouteData.Values["Controller"].ToString() == "Blogs" ? "navbarItem active" : "navbarItem")" asp-area="" asp-controller="Blogs" asp-action="ShowSearchForm">Search...</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>


        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <span>
            Powered By <br />
            Kristine Tabidze
        </span>
        <span> &copy; 2021 All Rights Reserved</span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script>
        $(document).ready(function () {
            $("ul.navbarContainer > li").click(function (e) {
                $("ul.navbarContainer > li").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>

</body>
</html>
