@model finalProject.Models.FullBlogs

@{
    ViewData["Title"] = "Details";
}



<div class="blogDetail">
   
        <h1>
            @Html.DisplayFor(model => model.title)
        </h1>
        <img src= @Html.DisplayFor(model => model.image) />
        <span>@Html.DisplayFor(model => model.shortDescription)</span>
        <h6 >
          Author: @Html.DisplayFor(model => model.author)
        </h6>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
